{% load static %}

<footer style=" background-color: #333; padding: 5%; width: 100%;">
    <div style="
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
">
    <ul style="list-style: none; display: flex; flex-direction: column;">
        <li style="margin: 0 auto; width: 90px; height: 90px;"><img style="width: 100%; border-radius: 100%;" src="{% static 'images/logo.jpg' %}" alt=""></li>
        <li style="margin-top: 15px;"><a style="text-decoration: none; color: #fff;" href="">Logo de l'entreprise</a></li>
    </ul>
    <ul style="list-style: none; display: flex; flex-direction: column;">
        <li><a style="text-decoration: none; color: #fff;" href="">LES THEMES</a></li>
        <li><a style="text-decoration: none; color: #fff;" href="">LES QUESTIONS</a></li>
        <li><a style="text-decoration: none; color: #fff;" href="">VISITER NOTRE SITE WEB</a></li>
    </ul>
    <ul style="list-style: none; display: flex; flex-direction: column;">
        <li><a style="text-decoration: none; color: #fff;" href="https://www.facebook.com/DNSR.DZ">CONTACT</a></li>
        <li><a style="text-decoration: none; color: #fff;" href="https://www.facebook.com/DNSR.DZ">SUR NOUS</a></li>
        <li><a style="text-decoration: none; color: #fff;" href="">RESOURCES</a></li>
    </ul>
    </div>
    <hr style="background-color: #fff; width: 100%;">
    <p style="color: #fff; text-align: center;">@all rights reserved</p>
</footer>